*.exe
*.dll
*.sql
*.q*
*.txt
*.ini
acknowledgement/
audio/
backdrop/
diy/
dmp/
extension-doc/
extensions/tools
font/
image/
lang/
scenarios/
skins/
etc/
lua/ai/*.lua
lua/*.lua
/lua/lib/middleclass.lua

zhangong/zhangong.data
zhangong/js/zg.js


!libluasqlite3.dll
!sqlite3.dll
!lua5.1.dll
!lua51.dll
!QSanguosha.exe

