*.exe
*.dll
*.sql
*.q*
*.txt
*.ini
acknowledgement/
audio/
backdrop/
diy/
dmp/
extension-doc/
extensions/tools
font/
image/
lang/
lua/
scenarios/
skins/
etc/

!libluasqlite3.dll
!zhangong.data
!sqlite3.dll
!lua5.1.dll
!lua51.dll