/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background: #88915a url("../img/gamebg.jpg") 0 0;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
	overflow:auto;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}


#main
{
    padding: 15px 15px 9px 15px;
    background-color: #fff;
    margin-bottom: 5px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 3px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: highlight;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:10px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#nav
{
    font-size:1.1em;    
    text-align:left;;
    margin:10px;
    color:White;
}

#nav a:link
{
    color: white;
    text-decoration: underline;
}

#nav a:visited
{
    color: white;
    text-decoration: underline;
}

#nav a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.pagingdiv{
	height:18px;margin-top:10px;text-align:center;
}

.paging a
{
    color: highlight;
	padding-left:10px;
	padding-right:10px;
    text-decoration: none;
}

.paging a:hover
{
    color: red;
    text-decoration: underline;
}

div.divtitle{
	height:23px;
}

.graycolor{
	filter:gray(enabled=1);
	FILTER: Alpha(Opacity=100, FinishOpacity=40, Style=2, StartX=0, StartY=0, FinishX=0, FinishY=0) gray;
	color: #aaaaaa;
	-moz-opacity:0.15;
	-khtml-opacity: 0.15;
	opacity: 0.15;
	zoom: 1;
}

#tbl_overview tr{
	height:25px;
}

a.s{color:#ffffff;background-color:transparent;position:relative;text-decoration:none;padding-left:10px;line-height:20px;}
a.s span{display:none;background-color:#FFFFFF;color:#000000;font-size:11px}
a.s:hover {background:#eee;color:#333; z-index:99;}
a.s:hover span{display:block;position:absolute;top:-0.5em;left:1.5em;padding:0.2em 0.6em;border:1px solid gray;background:#ffcc00;z-index:100;width:200px;}

a.t{color:#696969;background-color:transparent;position:relative;text-decoration:underline;padding-left:10px;line-height:20px;}
a.t span{display:none;background-color:#FFFFFF;color:#000000;text-decoration:none;font-size:11px}
a.t:hover {background:#eee;color:#333; z-index:99;text-decoration:none;}
a.t:hover span{text-decoration:none;display:block;position:absolute;top:1.5em;left:1.5em;padding:0.2em 0.6em;border:1px solid gray;background:#ffcc00;z-index:100;width:200px; font-weight: normal;}

div.sp {height:1px;overflow:hidden;margin-top:5px;margin-bottom:6px;background:#888888}